<meta name="title" content="Check number of suspected corona cases for each county in Kenya">
<meta name="description" content="See the number of people in your county suspected to have corona(covid-19), flu-like symptoms, your chance of contracting corona and more!">
<meta name="keywords" content="corona virus kenya, corona virus in kenya news, is corona virus in kenya already,        corona virus on kenya, cases of corona virus kenya, news on corona virus in kenya">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="1 days">
<meta name="author" content="RORO INNOVATIONS">
